PORT=3000
DATABASE_URL=file:./backend/data/db.sqlite
MEDIA_PATH=./backend/media
THUMBNAIL_PATH=./backend/thumbnails
DATA_DIR=./backend/data
IMPORT_PATH=./backend/import
EXPORT_PATH=./backend/export
API_INTERNAL_URL=http://localhost:3000
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=password
NODE_ENV=development