PORT=3000
DATABASE_URL="file:./data/db.sqlite"
MEDIA_PATH="./media"
THUMBNAIL_PATH="./thumbnails"
IMPORT_PATH="./import"
EXPORT_PATH="./export"
BASIC_AUTH_USER="admin"
BASIC_AUTH_PASS="password"
NODE_ENV="development"